<div class="jumbotron">
	<div class="container">
    <div class="row">
      <h1>Hello Shopify</h1>
      <h3>My name is Mitch Cail and I want to intern with you this summer</h3>
    </br>
      <div class="col-sm-6">
        <p>take a tour and let me show you why I would be a great fit with you</p>
      </div>
      <div class="col-sm-6">
        <%= image_tag "shopify-bag.png", height: '400', width: '400' %>
      </div>
    </div>
	</div>
</div>

<div class="container">
  <h1>check out the application for yourself</h1>
  <% if !user_signed_in? %>
    <p>Find me in app/views/pages/home.html.erb</p>
    <%= link_to 'sign up', new_user_registration_path, class: "btn btn-primary btn-lg"%>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to 'New Photo', new_photo_path %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Photo', new_photo_path %>
<% end %>

<% @photos.each do |photo| %>
  
  <%= image_tag photo.image.url(:thumb) %>
  <%= photo.description %>
  <%= photo.user.email %>
  <%= link_to 'Show', photo %>
  <% if photo.user == current_user %>
    <%= link_to 'Edit', edit_photo_path(photo) %>
    <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  
<% end %>
