<%= render 'pages/home' %>
<div class='container' id = "about">
  </br></br>
  <p><h1><strong>I LOVE PROGRAMING...</strong></h1></p>
  <p><h3>And I know that Shopify is filled with extremely talented developers who feel the same way. It would be an amazing experience to be able to learn to program along side some of the best coders in the industry. I love Shopify because of everything you do outside of work. From your monthly Python and Ruby meetups I've been able to connect with tons of like minded developers around Ottawa. I'm far from the best programer in the world, but I love to spend my free time playing around with new concepts and trying to create new projects. Having the opportunity to spend my days hacking on projects along side some of the best developers in the industry would be a dream come true for me.</h3></p>
  </br></br>
  </br></br>
</div>

<div class="jumbotron" id = "project">
  <div class='container'>
  <% if user_signed_in? %>
    <%= link_to 'New Photo', new_photo_path %>
    <br>
  <% else %>
    <div class="jumbotron">
      <p><strong>This is a photo sharing app that was modeled after Pinterest. Feel free to post your awesome photos to the page, all you need to do is register with your email... I promise I won't spam you</strong></p>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default btn-lg'%>
    </div>
  <% end %>
  </br>
  <div id= 'photos' class="transitions-enabled">
      <% @photos.each do |photo| %>
      <div class = 'box panel panel-success'>
       
        <%= link_to image_tag(photo.image.url(:thumb)), photo %>
        <div class='panel-body'>
          <%= photo.description %>
        </div>
        <div class='panel-footer'>
          <strong><%= photo.user.email %></strong>
        </div>
      </div>
      
    <% end %>
  </div>
  </div>
</div>

