<br>
<br>

<div class='container'>
	<div class='row'>
		<p><%= link_to 'Back', photos_path %></p>
		<%= image_tag @photo.image.url(:medium) %>

		<p>
		  <%= @photo.description %>
		</p>
		<% if @photo.user == current_user %>
			<%= link_to 'Edit', edit_photo_path(@photo) %> |
			<%= link_to 'Delete', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</div>
</div>
